[project]
	description = Puppet module for the OpenDaylight SDN controller.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jluhrsen
[access "refs/for/refs/*"]
	read = group user/jluhrsen
	push = group user/jluhrsen
	label-Code-Review = -2..+2 group user/jluhrsen
	label-Verified = -1..+1 group user/jluhrsen
	rebase = group user/jluhrsen
	removeReviewer = group user/jluhrsen
	submit = group user/jluhrsen
[access "refs/heads/*"]
	read = group user/jluhrsen
	create = group user/jluhrsen
	push = +force group user/jluhrsen
	pushMerge = group user/jluhrsen
[access "refs/tags/*"]
	push = +force group user/jluhrsen
	pushTag = group user/jluhrsen
	pushSignedTag = group user/jluhrsen
